<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{usuario.nombre}}</title>
    <link  type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Perfil de {{usuario.nombre}}</h1>
    <p><strong>Email:</strong> {{usuario.email}}</p>
    <p><strong>Fecha de Creación:</strong> {{usuario.createdAt}}</p>
    <p><strong>Última Actualización:</strong> {{usuario.updatedAt}}</p>

    <button type="button" class="IndexGestion">Gestion</button>

</body>
</html>
<script src="/js/indexGestion.js"></script>