<!-- Sección de Productos -->
<header>
    <button class="btn-volver">Volver</button>
</header>
<section class="products-section">
    <div class="products-container">
        {{#each products}}
        <div class="product-item">
            <p><strong>_id:</strong> {{_id}}</p>
            <p><strong>Title:</strong> {{title}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            <p><strong>Code:</strong> {{code}}</p>
            <p><strong>Stock:</strong> {{stock}}</p>
            <p><strong>Status:</strong> {{status}}</p>
            <p><strong>Category:</strong> {{category}}</p>
            <p><strong>Price:</strong> {{price}}</p>
            <button class="btn-delete" data-id={{_id}}>Eliminar</button>
            {{#if status}}
            <button class="btn-cart" data-id={{_id}}>
                <i class="fas fa-shopping-cart"></i> Agregar al Carrito
                {{/if}}
            </button>
        </div>
        {{/each}}
    </div>
</section>
<!-- Ventana emergente -->
<div class="overlay" id="popupOverlay">
    <div class="popup">
        <form id="carritoForm">
            <h2>Producto: </h2>
            <h2 id="h2">{{products._id}}</h2>
            <h2>List de carritos</h2>
            <select id="popupList">
            </select>
            <label for="name">Cantidad:</label>
            <input type="number" id="numberProducts" name="number" min="1" value="0">
            <button class="close-btn" onclick="closePopup()">Cerrar</button>
            <button type="submit" id="agregarCarrito" class="agregarCarrito-btn">Seleccionar</button>
        </form>
    </div>
</div>
<script src="js/productsFilter.js"></script>