<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<header>
    <button class="btn-volver-gestion">Volver</button>
</header>

<body>
    <!-- Contenedor principal -->
    <div class="carrito-container">
        <h1>Lista de Libros en tu Carrito</h1>

        <!-- Sección de Libros -->
        <section class="libros-section">
            {{#each carrito}}
            <div>
                <p><strong>Cantidad de Libros:</strong> {{libros.length}}</p>
                <p><strong>Usuario:</strong> {{usuario.email}}</p>
            </div>
            {{#each libros}} <!-- Cambié aquí para iterar sobre los libros dentro del carrito -->
            <div class="libros-item">
                <label for="text">Libro:</label>
                <p><strong>ID:</strong> {{_id}}</p>
                <p><strong>Autor:</strong> {{autor.nombre}}</p>
                <p><strong>Título:</strong> {{titulo}}</p>
                <p><strong>Descripción:</strong> {{descripcion}}</p>
                <p><strong>Precio:</strong> {{precio}}</p>
                <p><strong>Cantidad:</strong> {{cantidad}}</p>

                <label for="text">Lista de Categorías:</label>
                <div class="categorias-lista">
                    {{#each categorias}}
                    <div class="product-item">
                        <p>{{nombre}}</p>
                    </div>
                    {{/each}}
                </div>
                <br>
            </div>
            {{/each}}
            {{/each}}
        </section>
    </div>
</body>

<script src="/js/carritoindex.js"></script>