<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesti贸n de Pedidos</title>
</head>

<body>
    <header>
        <!-- Bot贸n para volver -->
        <button id="showProductsButton" class="product-button">Volver</button>
    </header>

    <h1>Lista de Carritos</h1>

    <!-- Contenedor principal -->
    <div class="main-container">
        <!-- Secci贸n de Buscar ID -->
        <section class="search-section">
            <div class="search-container">
                <h2>Buscar por ID</h2>
                <form id="IDC-1">
                    <label for="IDC-">ID del Carrito:</label>
                    <input type="text" id="IDC" name="CID" placeholder="ID del carrito">
                    <button type="button" class="button_">Buscar</button>
                </form>
            </div>
            <br>
            <!-- Crear Carrito -->
            <div class="search-container">
                <h2>Crear Carrito</h2>
                <form id="NEWCarts" method="post" action="/api/carts/">
                    <button type="submit" class="product-button3">crear</button>
                </form>
            </div>
        </section>
        <!-- Secci贸n de Carts -->
        <section class="carts-section">
            <div class="carts-container">
                {{#each carts}}
                <div class="carts-item">
                    <label for="text">Carrito:</label>
                    <p><strong>_id:</strong> {{_id}}</p>
                    <label for="text">Lista de Productos:</label>
                    {{#each products}}
                    <div class="product-item">
                        <p><strong>_id:</strong> {{_id}}</p>
                        <p><strong>cantidad:</strong> {{cantidad}}</p>
                        <button class="btn-delete-productsCarts" data-id-producto={{_id}}
                            data-id-carrito={{../_id}}>Eliminar Producto</button>
                    </div>
                    {{/each}}
                    <button class="btn-delete-Cart" data-id-carrito={{_id}}>Eliminar Carrito</button>

                </div>
                {{/each}}
            </div>
        </section>
    </div>

    <script src="js/cartsIndex.js"></script>
</body>

</html>