<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<header class="container mt-3">
    <button class="btn btn-secondary btn-volver-gestion">Volver</button>
</header>

<body class="container mt-4">
    <!-- Sección de Libros -->
    <section class="libros-section">
        <div class="row g-3">
            {{#each compras }}
            <p><strong>ID:</strong> {{_id}}</p>
            <p><strong>Usuario:</strong> {{usuario.email}}</p>
            {{#each libros}}
            <div class="col-md-6">
                <div class="card p-3 shadow-sm">
                    <h5 class="card-title">Libro</h5>
                    <p><strong>ID:</strong> {{_id}}</p>
                    <p><strong>Autor:</strong> {{autor.nombre}}</p>
                    <p><strong>Título:</strong> {{titulo}}</p>
                    <p><strong>Descripción:</strong> {{descripcion}}</p>
                    <p><strong>Precio:</strong> {{precio}}</p>
                    <label for="text" class="form-label">Lista de categorías:</label>
                    <ul class="list-group">
                        {{#each categorias}}
                        <li class="list-group-item">{{nombre}}</li>
                        {{/each}}
                    </ul>
                    <br><br><br>
                </div>
            </div>
            {{/each}}
            {{/each}}
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/compras.js"></script>
</body>

</html>