<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<header class="container mt-3">
    <button class="btn btn-primary btn-volver-gestion">Volver</button>
</header>

<body class="container mt-4">
    <!-- Sección de Libros -->
    <section class="libros-section">
        <div class="row g-3">
            {{#each libros}}
            <div class="col-md-6">
                <div class="card p-3 shadow-sm">
                    <h5 class="card-title">Libro</h5>
                    <p><strong>ID:</strong> {{_id}}</p>
                    <p><strong>Autor:</strong> {{autor.nombre}}</p>
                    <p><strong>Título:</strong> {{titulo}}</p>
                    <p><strong>Descripción:</strong> {{descripcion}}</p>
                    <p><strong>Precio:</strong> {{precio}}</p>
                    <p><strong>Cantidad:</strong> {{cantidad}}</p>
                    <label for="text" class="form-label">Lista de categorías:</label>
                    <ul class="list-group">
                        {{#each categorias}}
                        <li class="list-group-item">{{nombre}}</li>
                        {{/each}}
                    </ul>
                    <button class="btn btn-danger mt-3 btn-delete-libro" data-id-libro="{{_id}}">Eliminar Libro</button>
                </div>
            </div>
            {{/each}}
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/libroindex.js"></script>
</body>
