<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<body>

    <!-- Contenedor principal -->
    <div class="main-container">
        <!-- Sección de Buscar -->
        <div class="search-section">
            <h2>Buscar por Nombre</h2>
            <form id="IDC">
                <label for="IDL">Nombre del Libro:</label>
                <input type="text" id="IDLFINAL" name="IDL" placeholder="Nombre del libro">
                <button type="button" class="buscarLibro">Buscar</button>
            </form>
        </div>

        <!-- Sección de Botones (Autor y Categorías) -->
        <div class="botones-container">
            <button class="btn-autor">Autor</button>
            <button type="button" class="perfil">perfil</button>
            <button type="button" class="carrito">carrito</button>
             <button type="button" class="sesion">cerrar sesión</button>
        </div>

        <!-- Sección de Libros -->
        <section class="libros-section">
            {{#each libros}}
            <div class="libros-item">
                <label for="text">Libro:</label>
                <p><strong>_id:</strong> {{_id}}</p>
                <p><strong>autor:</strong>{{autor.nombre}}</p>
                <p><strong>titulo:</strong> {{titulo}}</p>
                <p><strong>descripcion:</strong> {{descripcion}}</p>
                <p><strong>precio:</strong> {{precio}}</p>
                <p><strong>cantidad:</strong> {{cantidad}}</p>
                <label for="text">Lista de categorias:</label>
                {{#each categorias}}
                <div class="product-item">
                    <p>{{nombre}}</p>
                </div>
                {{/each}}
                <button type="button" class="btn-comprarLibro" data-id-Libro="{{_id}}">Agregar a carrito</button>
                <br>
            </div>
            {{/each}}
        </section>
    </div>
</body>

</html>
<script src="/js/libroindex.js"></script>