
<body>
    <!-- Contenedor principal -->
    <div class="main-container">
        <!-- Sección de Buscar -->
        <div class="search-section">
            <h2>Buscar por Nombre</h2>
            <form id="IDC-1">
                <label for="IDL">Nombre del Libro:</label>
                <input type="text" id="IDL" name="IDL" placeholder="Nombre del libro">
                <button type="submit" class="btn-buscar">Buscar</button>
            </form>
        </div>

        <!-- Sección de Botones (Autor y Categorías) -->
        <div class="botones-container">
            <button class="btn-categorias">Categorías</button>
            <button class="btn-autor">Autor</button>
        </div>

        <!-- Sección de Libros -->
        <section class="libros-section">
            {{#each libros}}
            <div class="libros-item">
                <label for="text">Libro:</label>
                <p><strong>_id:</strong> {{_id}}</p>
                <p><strong>autor:</strong>{{autor.nombre}}</p>
                <p><strong>titulo:</strong> {{titulo}}</p>
                <p><strong>descripcion:</strong> {{descripcion}}</p>
                <p><strong>precio:</strong> {{precio}}</p>
                <p><strong>cantidad:</strong> {{cantidad}}</p>
                <label for="text">Lista de categorias:</label>
                {{#each categorias}}
                <div class="product-item">
                    <p>{{nombre}}</p>
                </div>
                {{/each}}
                <br>
                <button class="btn-delete" data-id-libro={{_id}}>Eliminar Libro</button>
            </div>
            {{/each}}
        </section>
    </div>
</body>

<script src="/js/libroindex.js"></script>

